// renglerin onceden deyishkenle tanimladim
$primary: #6366f1;
$dark: #0f172a;
$light: #f8fafc;
$gray: #64748b;
$primary-color: #5454d4;
$text-color-main: #ffffff;
$hero-p-color: rgba(255, 255, 255, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $dark;
  color: $light;
  padding-top: 30px;
}

.header--container {
  .header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background: rgba($dark, 0.9);
    display: flex;
    justify-content: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 48px;

    .nav__left {
      display: flex;
      align-items: center;
      gap: 12px;

      .logo {
        font-size: 1.5rem;
        font-weight: 800;
        text-decoration: none;
        color: $light;
      }
    }

    .nav__center {
      display: flex;
      justify-content: center;
      transition: all 0.3s ease;

      .nav__list {
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .nav__link {
        text-decoration: none;
        color: $gray;
        font-weight: 500;
        transition: 0.3s ease;

        &:hover {
          color: $primary;
        }
      }
    }

    .nav__right {
      display: flex;
      justify-content: flex-end;
      .btn--secondary {
        background-color: $primary;
        color: $text-color-main;
        text-decoration: none;
        padding: 12px;
        border-radius: 30px;
      }
    }
    // HAMBURGER
    .menu-toggle {
      display: none;
      font-size: 26px;
      cursor: pointer;
    }
  }
}

// ================= MOBILE =================
@media (max-width: 768px) {
  .nav {
    position: relative;
    padding: 10px 16px; // əvvəl 20px idi → daha yığcam
  }

  .nav__left {
    img {
      width: 22px; // logo kiçilir
    }
    a{
      span{
        font-size: 16px;
      }
    }
  }

  .nav__center {
    position: fixed;
    top: 0;
    right: -100%; // 🔥 gizli vəziyyət
    width: 30%; // panel width
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1500;
  }

  .nav__center.active {
    right: 0; // 🔥 sağdan çıxır
  }

  .nav__list {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .nav__link {
    font-size: 20px;
  }

  .menu-toggle {
    display: block !important;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 12px;
    color: white;
    z-index: 2000;
    cursor: pointer;
  }

  .nav__right {
    display: none;
  }
}

// Yeniden Istifade Oluna Bilen Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

// Hero Section
.hero_section {
  width: 100%;
  padding: 200px 0;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  .hero_text {
    flex: 1;
    max-width: 600px;

    h1 {
      font-weight: 400;
      font-size: 60px;
      line-height: 1.2;
      margin-bottom: 32px;
      text-transform: uppercase;
    }

    p {
      color: $hero-p-color;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 40px;
      max-width: 540px;
    }

    .hero_btns {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    .btn {
      &--primary {
        background: $primary;
        color: white;
        padding: 14px 32px;
        border-radius: 8px;
        text-decoration: none;
        &:hover {
          background-color: $primary-color;
        }
      }
      &--text {
        color: $light;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .hero_image {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .image-placeholder {
      width: 100%;
      max-width: 500px;
      height: 500px;
      background: linear-gradient(50deg, $primary, $dark);
      border-radius: 30px;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;

    .hero_image {
      justify-content: center;
    }

    .hero_text h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 576px) {
  .hero_text h1 {
    font-size: 32px;
  }

  .hero_text p {
    font-size: 16px;
  }

  .hero_btns {
    flex-direction: column;
    gap: 12px;
  }
}

// Video Section

.video_section {
  width: 100%;
  padding:100px 0;
}

.container_video {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  .video_text {
    display: flex;
    align-items: center;
    gap: 90px;

    h1 {
      font-weight: 700;
      font-size: 60px;
    }
    p {
      font-weight: 200;
      font-size: 21px;
      line-height: 39px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 30px;
    }
  }
  .video_video {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    height: auto;

    video {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}

@media (max-width: 992px) {
  .video_text {
    flex-direction: column;
    text-align: center;
    gap: 20px !important;

    h1 {
      font-size: 40px !important;
    }
  }
}

@media (max-width: 576px) {
  .video_text h1 {
    font-size: 28px !important;
  }

  .video_text p {
    font-size: 16px !important;
  }
}

// Services Section
.services_section {
  padding: 100px 0;

  .section-header {
    margin-bottom: 60px;
    h2 {
      font-size: 48px;
      margin-bottom: 16px;
      text-align: center;
      background-color: #1e293b;
      color: #f8fafc;
      border-radius: 70px;
      padding: 18px 0;
      line-height: 1.4cm;
    }
    p {
      color: $gray;
      font-size: 18px;
      padding-top: 24px;
      text-align: center;
    }
  }
}

.grid {
  display: grid;
  // This makes cards automatically wrap to the next line on small screens
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba($light, 0.05);
  transition: all 0.3s ease;

  &:hover {
    border-color: $primary;
    transform: translateY(-10px);
    background: lighten(#1e293b, 2%);
  }

  &__icon {
    font-size: 3rem;
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 16px;
  }
  p {
    text-align: center;
    color: $gray;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  .section-header h2 {
    font-size: 28px !important;
  }
}

// PORTFOLIO
.portfolio_section {
  padding: 100px 0;

  .section-header {
    margin-bottom: 60px;

    h2 {
      font-size: 48px;
      text-align: left;
    }
  }
}

.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio_card {
  border-radius: 20px;
  overflow: hidden;
  background: #1e293b;
  transition: 0.3s ease;

  img {
    width: 100%;
    display: block;
  }

  &:hover {
    transform: scale(1.05);
  }
}

//  CTA
.cta_section {
  padding: 120px 0;
}

.cta_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cta_text h2 {
  font-size: 56px;
  line-height: 1.2;
  max-width: 700px;
}

.cta_button .btn--primary {
  background: $primary;
  padding: 16px 40px;
  border-radius: 10px;
  text-decoration: none;
}

//  FOOTER
.footer {
  padding: 40px 0;
  border-top: 1px solid rgba($light, 0.1);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer_left {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 20px;
    font-weight: 600;
  }
}

.footer_center {
  display: flex;
  gap: 30px;

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $primary;
    }
  }
}

.footer_right p {
  color: $gray;
  font-size: 14px;
}

// RESPONSIVE

// Tablet
@media (max-width: 992px) {
  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta_container {
    flex-direction: column;
    text-align: center;
  }

  .cta_text h2 {
    font-size: 40px;
  }
}

// Mobile
@media (max-width: 576px) {
  .portfolio_grid {
    grid-template-columns: 1fr;
  }

  .section-header h2 {
    font-size: 28px;
  }

  .cta_text h2 {
    font-size: 28px;
  }

  .cta_button .btn--primary {
    width: 100%;
    text-align: center;
  }

  .footer_container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer_center {
    flex-direction: column;
    gap: 10px;
  }
}
